/*!
 * <%= data.name %> v<%= data.version %>
 *
 * Copyright (c) <%= data.author %>, <%= data.homepage %>
 * Released under the <%= data.license %> License
*/

( function() {
 "use strict";
 <%= data.contents %>
})();
